<!DOCTYPE html>
<html>
<head>
    <title>Order Successful</title>

    <style>
        body{
            background:#0F172A;
            color:white;
            text-align:center;
            font-family:Arial;
            padding-top:120px;
        }

        h1{
            color:#22C55E;
        }

        a{
            display:inline-block;
            margin-top:20px;
            background:#F43F5E;
            color:white;
            padding:12px 25px;
            text-decoration:none;
            border-radius:10px;
        }
    </style>

</head>
<body>

    <h1>🎉 Order Placed Successfully!</h1>

    <p>Thank you for shopping with Anime Keychain Store.</p>

    <a href="{% url 'home' %}">
        Continue Shopping
    </a>

</body>
</html>